/* common */
.navbar {
  font-family: "Times New Roman", Times, serif;
  font-variant: small-caps;
  font-style: italic;
  position: relative;
  top: 0;
  margin: 30px;
  margin-top: 20px;
  text-align: right;
}

.navbar a {
  margin: 20px;
  text-decoration: inherit;
  color: #5d3939;
  font-size: 25px;
}

body {
  background-color: #f7e0e0;
  margin: 0px;
}

h1 {
  font-family: Kameron;
  color: #c92e2e;
  font-size: 96px;
  font-weight: 700;
  line-height: 121.97px;
  text-align: left;
  text-shadow: 3px 4px 4px #00000040 inset;
  margin: 30px;
}

/* main page */
h1.thename {
  position: relative;
  font-family: "Kameron";
  font-size: 96px;
  font-weight: 700;
  color: #5d3939;
  text-align: right;
}

h2.thename {
  font-family: "Kameron";
  font-size: 32px;
  font-weight: 700;
  text-align: right;
  color: #5d3939;
  margin: 20px;
}
div.thename {
  display: flex;
  margin: 20px;
  padding-right: 30px;
  justify-content: end;
}

img.theface {
  max-width: 40%;
  height: auto;
  float: right;
}

div.theface {
  text-align: right;
}

/* contacts */
nav.contact_links {
  height: 60vh;
  display: flex;
  justify-content: space-evenly;
}

ul {
  justify-content: space-evenly;
  list-style-type: none;
  display: grid;
}

ul.upper_links li a {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-family: Kameron;
  font-size: 48px;
  font-weight: 700;
  text-align: right;
  color: #c92e2e;
}

ul.upper_links li img {
  width: 128px;
  height: 128px;
  margin-right: 8px;
}

ul.lower_links li a {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-family: Kameron;
  font-size: 48px;
  font-weight: 700;
  text-align: right;
  color: #c92e2e;
}

ul.lower_links li img {
  width: 128px;
  height: 128px;
  margin-right: 8px;
}

/* about */

h1.about {
  text-align: center;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-color: #593737;
  margin-left: 10vw;
  margin-right: 10vw;
}

div.about {
  display: flex;
  justify-content: space-evenly;
}

div.about h2 {
  font-family: Kameron;
  font-size: 40px;
  font-weight: 700;
  text-align: center;
  color: #4e3434;
}

div.bio {
  text-align: center;
  max-width: 40vw;
}

div.bio p {
  font-family: Kameron;
  font-size: 32px;
  font-weight: 700;
  line-height: 40.66px;
  letter-spacing: -0.02em;
}

div.services ul li {
  font-family: Kameron;
  font-size: 40px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: -0.02em;
  text-align: left;
  color: #aa3636;
  margin: 20px;
  display: flex;
  align-items: center;
}

div.services ul li img {
  width: 2em;
  height: 2em;
  margin-right: 8px;
}
